{
    email {$ACME_EMAIL}
}

{$APP_HOST} {
    encode zstd gzip

    header {
        # Activar inicialmente con un período corto.
        Strict-Transport-Security "max-age=300"

        X-Frame-Options "DENY"
        X-Content-Type-Options "nosniff"
        Referrer-Policy "strict-origin-when-cross-origin"
        Permissions-Policy "camera=(), microphone=(), geolocation=(), payment=(), usb=()"
        X-Permitted-Cross-Domain-Policies "none"
        Cross-Origin-Opener-Policy "same-origin"

        Content-Security-Policy "default-src 'self'; base-uri 'self'; object-src 'none'; frame-ancestors 'none'; form-action 'self'; script-src 'self'; style-src 'self' 'unsafe-inline'; img-src 'self' data: blob:; font-src 'self' data:; connect-src 'self'; worker-src 'self' blob:; frame-src 'self' blob:; media-src 'self' blob:; upgrade-insecure-requests"

        -Server
    }

    reverse_proxy frontend:80
}
